###
# This script is no longer used. It is here for reference.
# Problem was this would allow an attacker to run commands like 'scp' without 2FA or even something like ssh cmull-code@<server> "id"
###
#!/bin/bash
# Ansible Managed: Force 2FA for EVERYONE

# Trap interactive sessions
if [[ -n "$SSH_CLIENT" || -n "$SSH_TTY" ]]; then
    SECRET_FILE="${HOME}/.google_authenticator"
    
    # If no secret file exists, force creation
    if [ ! -f "$SECRET_FILE" ]; then
        echo "WARNING: 2FA Setup Required."
        trap "exit 1" SIGINT
        google-authenticator -t -d -f -r 3 -R 30 -w 3
        trap - SIGINT
    fi
fi