# Ansible Managed: SCORCHED EARTH PAM

# 'nullok' means return IGNORE if file is missing.
auth required pam_google_authenticator.so nullok


# If Google Auth returned IGNORE (new user), this line ensures we return SUCCESS.
# If Google Auth Failed (bad code), we never reach this line because it is 'required'.
auth required pam_permit.so


account required pam_nologin.so
@include common-account
@include common-session
@include common-password